//--- FONTS ---//

// Font Stacks //

$stack-special-elite: 'Special Elite', sans-serif;
$stack-raleway: 'Raleway', sans-serif;

// Font Sizes //

$main-header: 2em;
$secondary-header: 1.2em;
$section-headings: 1em;
$default-text: 1em;
$smaller-text: .9em;

// Font Styles //

%section-titles {
    font-size: 1em;
    text-transform: uppercase;
}

%project-titles {
    font-size: 1.2em;
    font-weight: 500;
}
