/* ========== GENERAL STYLES ========== */

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    color: $text-color;
    height: 100%;
    font-family: $stack-raleway;
}

h1 {
    font-size: $section-headings;
}

a {
    text-decoration: none;
}

img {
    border-radius: 5px;
    @include img-box-shadow;
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}
