
/* Color Variables */

$main-light: #b4a8d2; //wistful lavender
$main-dark: #675a85; //dolphin purple
$background-light: #ededed; //gallery
$text-color: #626f7e;
$text-light: white;


/* Font Stacks */

$stack-special-elite: 'Special Elite', sans-serif;
$stack-raleway: 'Raleway', sans-serif;


/* Font Sizes */

$main-header: 2em;
$section-headings: 1em;
//$main-text: ;
//$project-heading: ;

