
/* Color Variables */

$main-light: #b4a8d2; //wistful lavender
$main-dark: #675a85; //dolphin purple
$background-light: #ededed; //very light gray
$footer-background: #36acd0; //light blue
$text-color: #626f7e; //gray-blue
$text-light: white;
$shadow: #626f7e; //gray-blue
