
/* Color Variables */

$main-light: #b4a8d2; //wistful lavender
$main-dark: #675a85; //dolphin purple
$background-light: #ededed; //gallery
$text-color: #626f7e;
$text-light: white;


// At a minimum create variables for colors, font-sizes and font-family values
