/* --- Clearfix --- */

%clearfix {
    &::after {
        content: " ";
        display: table;
        clear: both;
    }
}

/*--- Contact Styles ---*/

%contact-info {
    font-weight: $bold-font;
    padding-left: .8em;
}

// add additional extends/placeholder for exceeds expectations
