//--- Clearfix ---//

%clearfix {
    &::after {
        content: " ";
        display: table;
        clear: both;
    }
}

//--- Contact Styles ---//

%contact-info {
    font-weight: $bold-font;
    padding-left: .8em;
}

//--- Hide Content ---//

%hide-menu {
    height: 0; // hide menu by default //
    overflow: hidden; // hide menu by default //
}

//--- Section Divider ---//
%shadow-divider {
    box-shadow: 0 3px 6px rgba($shadow, 0.1) inset;
}
