//--- MEDIA QUERIES --- //

// Breakpoints //

$break-tablet: 768px;
$break-medium: 900px;
$break-wide: 1024px;

@mixin media-query($screen-size) {
    @if $screen-size == tablet {
        @media screen and (min-width: #{$break-tablet}) {
            @content;
        }
    }
    @else if $screen-size == medium {
        @media screen and (min-width: #{$break-medium}) {
            @content;
        }
    }

    @else if $screen-size == large {
        @media screen and (min-width: #{$break-wide}) {
            @content;
        }
    }
}

// --- BOX SHADOW --- //

@mixin box-shadow($offset-x, $offset-y, $blur, $spread, $color, $opacity) {
    box-shadow: $offset-x $offset-y $blur $spread rgba($color, $opacity);
}

// --- FLEX --- //

@mixin flex-properties {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
