
/* ========== FOOTER ========== */

  .main-footer {
    @include tablet {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

footer {
    padding: 11px 16px;
    margin: 0;
    background: #36acd0;
    color: white;
    font-size: 1em;
    height: 100%;
    box-shadow: 0px 3px 6px rgba(98,111,126,0.1) inset;
    @extend %clearfix;

    @include tablet {
        padding-left: 64px;
        padding-right: 64px;
    }

    p {
        font-weight: 600;
    }
}

.footer-name {
    float: left;
    display: inline-block;

    @include tablet {
        margin-right: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.footer-link {
    float: right;
    display: inline-block;
    font-variant: small-caps;

    @include tablet {
        display: none;
    }
}

footer a:visited {
    color: white;
}

.footer-nav {
    display: none;

    @include tablet {
        align-self: center;
        min-width: 35%;
        max-width: 50%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.footer-nav li {
    @include tablet {
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 30px;
        font-size: .9em;
    }
}

  .footer-nav a:visited {
      @include tablet {
        color: #b4a8d2;
    }
}
