
/* ========== FOOTER ========== */

  .main-footer {
    @include media-query(tablet) {
        @include flex-properties;
    }
}

footer {
    padding: 11px 16px;
    margin: 0;
    background: $footer-background;
    color: $text-light;
    font-size: $default-text;
    height: 100%;
    box-shadow: 0px 3px 6px rgba($shadow,0.1) inset;
    @extend %clearfix;

    @include media-query(tablet) {
        padding-left: 64px;
        padding-right: 64px;
    }

    p {
        font-weight: 600;
    }
}

.footer-name {
    float: left;
    display: inline-block;

    @include media-query(tablet) {
        margin-right: auto;
        @include flex-properties;
    }
}

.footer-link {
    float: right;
    display: inline-block;
    font-variant: small-caps;

    @include media-query(tablet) {
        display: none;
    }
}

footer a:visited {
    color: white;
}

.footer-nav {
    display: none;

    @include media-query(tablet) {
        align-self: center;
        min-width: 35%;
        max-width: 50%;
        @include flex-properties;
    }
}

.footer-nav li {
    @include media-query(tablet) {
        color: $text-light;
        font-weight: $bold-font;
        text-transform: uppercase;
        padding-left: 30px;
        font-size: $smaller-text;
    }
}

  .footer-nav a:visited {
    @include media-query(tablet) {
        color: $main-light;
    }
}
