/* ========== HEADER ========== */

header {
    width: 100%;
    background: $main-light;
    padding-top: 1em;

    @include tablet {
        padding-top: 60px;
    }
}

.name {
    font-size: 2em;
    font-family: $stack-special-elite;
    padding-bottom: 10px;
    color: white;
    text-shadow: 1px 1px 4px #626f7e;

    @include desktop {
        float: left;
        margin: 0;
        padding-left: 60px;
    }
}

/* ----- Navigation ----- */

.main-nav {
    text-align: center;
    width: 100%;

    @include tablet {
        display: inline-flex;
        width: 50%;
    }

    @include medium-screen {
        max-width: 55%;
        }

    @include desktop {
        float: right;
        max-width: 40%;
        padding-right: 60px;
    }
}

.main-nav li {
    background: white;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 90.625%;
    padding: 8px 0;
    margin-bottom: .4em;
    border-radius: 5px;

    @include tablet {
        background: $main-light;
    }
}

.main-nav a {
    color: $main-dark;
    padding: 4px 10px; /* increase size of clickable area */

    @include tablet {
         color: white;
    }
}

.main-nav li:active {
    box-shadow: 1px 1px 6px rgba(98,111,126,0.3) inset;

    @include tablet {
        box-shadow: none;
    }
}

.main-nav a:visited {
    color: $main-light;

    @include tablet {
        color: $main-dark;
    }
}
