/* ========== MAIN CONTENT ========== */

.section-title {
    font-size: 1em;
    text-transform: uppercase;
}

/* ----- Intro ----- */

.intro {
    padding-top: 42px;
    padding-bottom: 42px;
    background: $main-light;
    color: white;
    @extend %clearfix;

    @include medium-screen {
        padding-top: 60px;
    }
}

.intro img {
    width: 62.5%;
    max-width: 367px;

    @include tablet {
        display: inline-block;
        float: right;
        padding: 0;
        margin-right: 7%;
        margin-left: 3%;
        width: 40%;
    }

    @include desktop {
            margin-left: 0;
        }
    }

.intro p {
    padding: 0 10px;

    @include tablet {
        display: inline-block;
        float: left;
        padding: 0;
        margin: 0;
        width: 40%;
        margin-left: 7%;
        margin-right: 3%;
        font-size: 1.25em;
        text-align: left;
    }

    @include desktop {
        max-width: 75%;
        line-height: 1.5;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
}

#hidden-intro-content {
    display: none;

    @include desktop {
        display: inline-block;
        padding-top: 20px;
    }
}

/* ----- Portfolio ----- */

.portfolio {
    padding-top: 42px;
    padding-bottom: 60px;
    box-shadow: 0px 3px 6px rgba(98,111,126,0.1) inset;

    p {
        margin: 0 10%;
    }
}

.portfolio-projects {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }
}

.project {
    margin-top: 36px;

    @include tablet {
        max-width: 50%;
    }

    @include desktop {
        max-width: 33%;
        }

    a {
        color: #626f7e;
    }

    img {
        width: 90.625%;
    }
}

.project a:visited {
    color: $main-dark;
}

.project h1 {
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: 500;
}

.project img:hover {
    opacity: 0.7;
}


/* ----- Contact ----- */

.contact {
    padding-top: 64px;
    padding-bottom: 54px;
    background:$background-light;
    box-shadow: 0px 3px 6px rgba(98,111,126,0.1) inset;

    h1 {
        padding-bottom: 30px;
        margin: 0;
    }

    @include desktop {
        padding-bottom: 72px;
    }

}

.contact p {
    margin-left: 20px;
    margin-right: 20px;

    @include tablet {
        width: 75%;
        margin: auto;
        padding-bottom: 10px;
        font-size: 1.2em;
    }

    @include desktop {
        width: 50%;
    }
}

.contact p:nth-child(2) {
    @include tablet {
        padding-bottom: 60px;
    }
}

  .contact p:last-child {
      @include tablet {
        padding-bottom: 0;
    }
}

#phone,
#email {
    @include contact-info;
}
